<div class="question" >
	<div><%= category %></div>
	<p><%= text %></p>
	<div>
		<form>
			<section><!--
	<% for(var i= 0; i < 5; i++){ %>
		--><label>
			<input type="radio" name="opinion" <%= i == 2 ? "checked" : "" %> value="<%- i -2 %>" /><%= labels[i] %>
		</label><!-- 
	<% } %>
		--></section>
		<div>
			<button name="loadstats">Other Opinions</button>
			<button name="showscale">Voice yours</button>
		</div>
		</form>
	</div>
</div>
<% public.questionPartialUsed = true %>