<div class="question">
	<div>
		<span><%= category %></span>
	</div>
	<p><%= text %></p>
	<% var labels =  ["Outraged","Disagree","Don't Care","Agree","Support"] %>
	<div>
		<form>
	<% for(var i= 0; i < 5; i++){ %>
		<label>
			<input type="radio" name="opinion" <%= i == 2 ? "checked" : "" %> value="<%- i -2 %>" /><%= labels[i] %>
		</label>
	<% } %>
		<div>
			<button>Other Opinions</button>
			<input type="submit" value="Voice Your Opinion" />
		</div>
		</form>
	</div>
</div>
<pre>Dear testers: Which is better?</pre>
<div>
	<button>Listen to Other's</button>
	<input type="submit" value="Submit &amp; Be Heard" />
</div>
<div>
	<button>Other Opinions</button>
	<input type="submit" value="Voice Your Opinion" />
</div>
<% public.questionPartialUsed = true %>