<div class="question" >
	<div>
		<span><a href="/category/?c=<%= category %>"><%= category %></a></span>
	</div>
	<p><%= text %></p>
	<% var labels =  ["Outraged","Disagree","Don't Care","Agree","Support"] //same as global %>
	<div>
		<form>
	<% for(var i= 0; i < 5; i++){ %>
		<label>
			<input type="radio" name="opinion" <%= i == 2 ? "checked" : "" %> value="<%- i -2 %>" /><%= labels[i] %>
		</label>
	<% } %>
		<div>
			<button name="loadstats">Other Opinions</button>
			<input type="submit" value="Voice Your Opinion" />
		</div>
		</form>
	</div>
</div>
<% public.questionPartialUsed = true %>