<div class="question" >
	<div><%= category %></div>
	<p><%= text %></p>
	<div>
		<form method="POST" name="question">
			<section><!--
	<% for(var i= 0; i < 5; i++){ %>
		--><label>
			<input type="radio" name="opinion" <%= i == 2 ? "checked" : "" %> value="<%- i -2 %>" /><%= labels[i] %>
		</label><!-- 
	<% } %>
		--></section>
		<div>
			<button name="loadstats">Other Opinions</button>
			<button name="showscale">Voice yours</button>
		</div>
		<div rel="success" style="display: none">
			<div class="thank-you" style="background-color: black; text-align: center;">
				<h1>Your vote has been recorded, thanks!</h1>
			</div>
		</div>
		</form>
	</div>
</div>
<% public.questionPartialUsed = true %>