<div class="question" >
	<div>
		<span name="more-info">More Info</span>
	</div>
	<p><%= text %></p>
	<div>
		<form><!--
	<% for(var i= 0; i < 5; i++){ %>
		--><label class="vote vote-<%= labels[i] %>">
			<input type="radio" name="opinion" <%= i == 2 ? "checked" : "" %> value="<%- i -2 %>" /><%= labels[i] %>
		</label><!-- 
	<% } %>
		--><div>

			<button name="loadstats">Other Opinions</button>
			<input type="submit" value="Voice Your Opinion" />
			<span name="vote-help">(?)</span>
		</div>
		</form>
	</div>
</div>
<% public.questionPartialUsed = true %>