<head>
<%- partial("_inc/styles") %>
</head>
<div id="statistics">
	<script type="text/javascript">
		window.dummyMapInfo = <%- JSON.stringify(dummydata.statistics) %>
		window.label2Colors = <%- JSON.stringify(labelColors) %>
	</script>
	<%- partial("_inc/scripts.ejs") %>
	<h2>Opinion Demographics</h2>
	<div id="map" style="width: 400px; height: 250px;"></div>
	<div>
		
		<ul><% 
			var ranks = ["red", "orange","yellow","lime","green"]
			for(r in ranks){
				var color = ranks[r] %>
				<li class="vote vote-<%= labels[r].replace(/\s/g, '-') %>"><span><%= labels[r] %></span><%
				} %>
		</ul>
		<p>
			Ever wonder where the people who think like you are?
		</p>
	</div>
</div>